/* ==========================================================================
 MIXINS
 ========================================================================== */
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin dark-grey-color {
  color: #5F6F7D;
}
@mixin bright-orange {
  color: #F86132;
}

@mixin times-font {
  font-family: "Times New Roman", Georgia, serif;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($rad : 3px) {
  -wekbit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin box-shadow($x-off, $y-off, $rad, $color) {
  -webkit-box-shadow: $x-off $y-off $rad $color;
  -moz-box-shadow: $x-off $y-off $rad $color;
  box-shadow: $x-off $y-off $rad $color;
}

@mixin basic-transitions {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}


/** Element styling
========================================**/
.content {
  margin: 25px 0;

  [class*='span'] {
    margin-top: 25px;
  }
}


/** Custom dropdown-menu
========================================**/
.dropdown-menu-holder {
  position: relative;

  .custom-dropdown {
    display: none;
    min-width: 100px;
    min-height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F9F9F9;
    list-style: none;
    @include box-shadow(0, 0, 3px, rgba(0,0,0,0.25));
    z-index: 100;

    &:before {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      
      border-bottom: 5px solid #F9F9F9;

      top: -5px;
    }

    li {
      min-height: 20px;
      cursor: pointer;
      position: relative;
      z-index: 102;
      padding: 5px 15px 5px 10px;

      &:hover {
        background-color: #5F6F7D;
        color: #FAFAFA;
      }
    }
  }
}


/** Custom Select dropdown menu
========================================**/
.customSelect {
  /* This is the container of the new select element */
  height: 30px;
  display: inline-block;
  //min-width: 125px;
  position: relative;

  .selectBox {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    cursor: pointer;

    /* Font settings */
    line-height: 30px;
    text-align: left;
    padding: 0px 15px 0px 10px;
    background: #FFF url('../img/select-arrow.png') center right no-repeat;
    border: 1px solid #B5B5B5;
    -moz-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    color: #AAA;
    
    @include border-radius(3px);

    &:hover,
    &.expanded {
      background-color: #fff;
      color: #333;
    }
  }

  .dropDown {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0; 
    border: 1px solid #AAA;
    border-top: none;
    list-style: none;
    background-color: #FFF;
    z-index: 101;

    @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.3));

    li {
      min-height: 20px;
      cursor: pointer;
      position: relative;
      z-index: 102;
      padding: 5px 15px 5px 10px;

      &:hover {
        background-color: #5F6F7D;
        color: #FAFAFA;
      }
    }
  }
}


/** Tooltip
========================================**/
.tooltip {
  color: #333;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}
.tooltip span {
  background-color: #f4f4f4;
  background-image: -webkit-linear-gradient(90deg, hsla(0,0%,0%,.05), hsla(0,0%,0%,.01));
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.25),
              0 1px 2px hsla(0,0%,0%,0.5);
  border:none;
  position: absolute;
  display: inline;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.2em;
  height: 16px;
  min-width: 50px;
  max-width: 300px;
  padding: .3em .8em;
  margin-left: 0px;
  top: -20px;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: top .15s, opacity 0.15s ease;
  @include border-radius(3px);
}
.tooltip span::after{
  background-image:
  -webkit-linear-gradient(-45deg, hsla(0,0%,0%,0) 50%,  hsla(0,0%,0%,.05) 51%, hsla(0,0%,0%,.1) 100%),
  -webkit-linear-gradient(-45deg, hsla(0,0%,0%,0) 50%,  hsla(0,0%,98%,1) 51%, hsla(0,0%,98%,1) 100%);
  box-shadow: 1px 1px 1px hsla(0,0%,0%,0.35);
  content:'';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 20px;
  height: 8px;
  width: 8px;
  -webkit-transform: rotate(45deg);
}
.tooltip:hover span {
  visibility: visible;
  opacity: 1;
  top: -32px;
}


/** Misc
========================================**/
.testing {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #eee;

  &:before {
    position: absolute;
    top: 5px;
    background-color: blue;
    width: 100px;
    height: 1px;
    content: " ";
  }

  &:after {
    position: absolute;
    bottom: 5px;
    background-color: red;
    width: 100px;
    height: 1px;
    content: " ";
  }
}





















